body {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    height: 100%;
    width: 100%;
    background-color: #342D30;
    position: fixed;
    margin: 0;
}

h1 {
    font-size: 30pt;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
}

hr {
    height: 0;
    /* width: 50%; */
    border: none;
    border-top: 1px solid grey;
}

.half {
    width: 50%;
}

.login {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.login-button {
    display: table;
    margin: 20% auto;
    font-weight: 300;
}

.landing-page-logo {
    width: 40%;
    margin: 10% 30% 0 30%;
    display: block;
}

.landing-page-image {
    top: 0;
    left: 0;
    position: absolute;
    position: fixed;
    width: 50%;
}

.center-text {
    text-align: center;
}

.slogan {
    font-size: 13pt;
    color: #b5b5b5;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
}

.primary-button {
    background-color: transparent;
    border: 3px solid  #1DB954;
    color: white;
    border-radius: 30px;
    padding: 15px 60px;
    font-size: 17pt;
    cursor: pointer;
    font-weight: 400;
}

/* SEARCH BAR */
form.search-bar {
    position: relative;
    width: 70%;
    margin: 1% auto 0 auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 30px;
  }

  form.search-bar input {
    width: 70%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    display: block;
  }

  form.search-bar .search-icon {
      float: left;
      font-size: 2em;
  }

  .advanced-search-link {
      text-align: right;
      margin: 3px 15% 1%
  }

  .playlist-section {
      padding: 1%;
      text-align: center;
  }

  .playlist-grid {
      height: 100%;
  }

  .playlist-card {
      max-width: 345px;
      width: 90%;
      height: 90%;
      display: inline-block;
      border-radius: 0;
  }

  .playlist-card h2 {
      padding: 5% 5% 5%;
  }

  .card-title, .MuiCardContent-root {
    background-color: #1DB954; 
    color: white;
    padding: 10px 0;
    border-radius: 0;
    height: 30%;
  }