body {
    font-family: 'Roboto';
    font-weight: 300;
}

.half {
    width: 50%;
}

.login {
    background-color: #342D30;
    height: 100%;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.landing-page-logo {
    width: 100px;
}